<div class="modal fade" id="addAdvance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AGREGAR AVANCE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/myAdvances/add/{{id}}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-danger d-none" id="mensajePag"><small><i
                                    class="fas fa-exclamation-circle"></i> COLOCA UN AVANCE REAL</small></label>
                        <input type="number" id="paginas" name="paginasLeidas" placeholder="Paginas leidas"
                            class="form-control" required>
                        <input type="number" id="libroPag" value="{{libro.paginas}}" class="d-none" />
                        <input type="number" id="ultimaPag" value="{{nopagina}}" class="d-none" />
                    </div>
                    <div class="form-group">
                        <textarea name="comentario" placeholder="Comentario" cols="30" rows="10"
                            class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnGuardarAvance" class="btn btn-dark">Guardar avance</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const paginas = document.getElementById("paginas")
    const libroPag = document.getElementById("libroPag")
    const ultimaPag = document.getElementById("ultimaPag")
    const mensajePag = document.getElementById("mensajePag")
    const btnGuardarAvance = document.getElementById("btnGuardarAvance")

    paginas.addEventListener("input", async () => {
        if (!ultimaPag.value == "") {
            if (parseInt(paginas.value) > parseInt(ultimaPag.value) && parseInt(paginas.value) <= parseInt(libroPag.value)) {
                mensajePag.classList.add("d-none")
                btnGuardarAvance.disabled = false
            } else {
                mensajePag.classList.remove("d-none")
                btnGuardarAvance.disabled = true
            }
        }
    });
</script>