<div class="modal fade" id="viewReview{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card">
                    <div class="card-header text-center bg-dark text-white">
                        <h5>Calificación: {{qualification puntaje}}</h5>
                    </div>
                    <div class="card-body text-justify">
                        <h5>{{resena}}</h5>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>