<div class="container mt-5">
    <button class="list-group-item" data-toggle="modal" data-target="#XD">
        <div class="row">
            <div class="col-md-6">
                <img src="${book.imageLinks.smallThumbnail}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>xdxd</p>
                <h6><small class="text-secondary">xd</small></h6>
            </div>
        </div>
    </button>
    <div class="modal fade" id="XD" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>