<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-sm-12">
            <div class="card bg-dark text-white">
                <img src="https://juanluisn.blob.core.windows.net/imagenes/Book Lover_Isometric.png" class="">
                <div class="card-img-overlay heading-content text-center">
                    <div class="fondo-color p-2 rounded">
                        <h1 class="card-title">¡Bienvenido a BoxBook!</h1>
                        <h5 class="card-text">Tu página confiable para llevar el control de lecturas</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 class="mb-5 pt-3 text-center">¡Comienza ahora mismo!</h2>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="card bg-dark text-white rounded-circle h-100">
                        <div class="card-body text-center">
                            <p><i class="fas fa-user-plus fa-6x"></i></p>
                            <h5>¡Registrate!</h5>
                            <p>Crea una nueva cuenta para tener acceso al control de lecturas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card bg-dark text-white rounded-circle h-100">
                        <div class="card-body text-center">
                            <p><i class="fas fa-sign-in-alt fa-6x"></i></p>
                            <h5>¡Inicia sesión!</h5>
                            <p>¡Si ya cuentas con una cuenta! <br> Inicia sesión ahora mismo para tener acceso al control de lecturas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card bg-dark text-white rounded-circle h-100">
                        <div class="card-body text-center">
                            <p><i class="fas fa-award fa-6x"></i></p>
                            <h5>¡Fija un objetivo!</h5>
                            <p>Fija un objetivo de lecturas al año y cumplela</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card bg-dark text-white rounded-circle h-100">
                        <div class="card-body text-center">
                            <p><i class="fas fa-save fa-6x"></i></p>
                            <h5>¡Guarda tus libros!</h5>
                            <p>Busca y guarda los libros a leer, los leídos y libros pendientes a leer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card bg-dark text-white rounded-circle h-100">
                        <div class="card-body text-center">
                            <p><i class="fas fa-comments fa-6x"></i></p>
                            <h5>¡Lleva un control!</h5>
                            <p>Comenta tus avances de los libros que vayas leyendo</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card bg-dark text-white rounded-circle h-100">
                        <div class="card-body text-center">
                            <p><i class="fas fa-user-friends fa-6x"></i></p>
                            <h5>¡Agrega amigos!</h5>
                            <p>Agrega amigos y observa sus libros, avances y reseñas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>