<div class="container pt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 mx-auto">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-4 d-block d-sm-none d-none d-sm-block d-md-none">
                            <img src="https://juanluisn.blob.core.windows.net/imagenes/Book Lover_Monochromatic.png"
                                class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <h4 class="mt-2">Crear una cuenta nueva</h4>
                            <p>¡Ingresa tus datos y regístrate para ser parte de nuestra comunidad!</p>
                            <hr class="mb-3">
                            <form action="/signup" method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-5 mb-3 mb-sm-0">
                                        <label for="">Nombre de usuario</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fas fa-user"></i>
                                                </div>
                                            </div>
                                            <input type="text" name="username" placeholder="Nombre de usuario"
                                                class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <label for="">Nombre completo</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fas fa-signature"></i>
                                                </div>
                                            </div>
                                            <input type="text" name="nombreCompleto" placeholder="Nombre completo"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                    <label for="">Correo electronico</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-envelope"></i>
                                            </div>
                                        </div>
                                        <input type="text" name="correo" placeholder="Correo electronico"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-6 mb-3 mb-sm-0">
                                        <label for="">Contraseña</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fas fa-key"></i>
                                                </div>
                                            </div>
                                            <input type="password" name="contra" placeholder="Contraseña"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <label for="">Confirmar contraseña</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fas fa-key"></i>
                                                </div>
                                            </div>
                                            <input type="password" placeholder="Confirmar contraseña"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mt-3">
                                    <div class="col-sm-12 col-md-4 mb-3 mb-sm-0">
                                        <label for="">Pais</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fas fa-globe-americas"></i>
                                                </div>
                                            </div>
                                            <input type="text" name="pais" placeholder="Pais" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-8">
                                        <label for="">Ciudad</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fas fa-city"></i>
                                                </div>
                                            </div>
                                            <input type="text" name="ciudad" placeholder="Ciudad" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-dark btn-block">Crear cuenta nueva</button>
                                </div>
                            </form>
                            <hr>
                            <h6 class="text-center"><small>¿Ya tienes una cuenta? ¡Inicia sesión ahora!</small></h6>
                            <a href="/signin" class="btn btn-block btn-dark">Iniciar sesión</a>
                        </div>
                        <div class="col-md-4 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block">
                            <img src="https://juanluisn.blob.core.windows.net/imagenes/Book Lover_Monochromatic.png"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>